@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Conservice.Models.PermissionsViewModel

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/Edit/@Model.EmployeeId">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Employee/Permissions/@Model.EmployeeId">Permissions</a>
    </li>

</ul>


<h1>Permissions</h1>

@*<table id="departmentTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var cp in Model.CurrentPermissions)
            {
                <tr>
                    <td>@cp.Permission.ToString()</td>

                    <td>
                        <form method="post" action="/Employee/RemovePermission">
                            <input type="hidden" id="EmployeePermissionId" name="EmployeePermissionId" value="@cp.EmployeePermissionId">
                            <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId">

                            <input class="btn btn-primary" type="submit" value="Remove" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<ul>
    @foreach (var cp in Model.CurrentPermissions)
    {
        <li>
            @cp.Permission.ToString()

            <form class="removeForm" method="post" action="/Employee/RemovePermission">
                <input type="hidden" id="EmployeePermissionId" name="EmployeePermissionId" value="@cp.EmployeePermissionId">
                <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId">

                <input class="btn btn-primary" type="submit" value="Remove" />
            </form>

        </li>
    }
</ul>


<form method="post" action="/Employee/AddPermission">
    <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId">
    <div class="form-group">
        <label for="AddPermission" class="control-label">Add Permission:</label>
        <select class="form-control" id="AddPermission" name="Permission" asp-items="Model.PermissionOptions"></select>
    </div>
    <div class="flex justify-content-end">
        <input class="btn btn-primary submitButton" type="submit" value="Add" />
    </div>
</form>

@section Styles{
    <style>
        .removeForm{
            display:inline-block;
            margin-left: 2rem;
            margin-bottom: 2rem;
        }
    </style>
}

