

@model Conservice.Models.ActivityLogViewModel

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/ActivityLog">Activity Log</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ActivityLog/Subscriptions">Notifications</a>
    </li>

</ul>

<h1>Activity Log</h1>

<p>
    Activities tracked:
    <ul>
        <li>Permission Change</li>
        <li>Manager Change</li>
        <li>Position Change</li>
        <li>Status Change</li>
    </ul>
</p>


<div class="table-responsive">


    <table id="logTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Time</th>
                <th>EmployeeName</th>
                <th>ChangeEventType</th>
                <th>Old</th>
                <th>New</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Model.ChangeEvents)
            {
                <tr data-id="@ev.EmployeeChangeEventId">
                    <td>@ev.Time</td>
                    <td>@ev.EmployeeName</td>
                    <td>@ev.ChangeEventType </td>
                    <td>@ev.Old</td>
                    <td>@ev.New</td>
                </tr>
            }
        </tbody>


    </table>

</div>

@section Styles{
    <style>
        .containerMain {
            max-width: 1500px;
        }

        #logTable_wrapper {
            width: 99%; /*99% or table overflows after datatables js is applied*/
        }

    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#logTable thead tr').clone(true).appendTo('#logTable thead');
            $('#logTable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filter" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#logTable').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                "ordering": false
                //   "order": [[0, "desc"]]
            });

        });
    </script>
}